body {
    padding-top: 2.5rem;
}

.content-center {
    padding: 1.5rem 1.5rem;
}

.text-center {
    text-align: center;
}

.bordered-div {
    width: 100%;
    /* min-height: 390px; */
    /* padding: 10px 30px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    margin-top: 30px; */
}

.skill-list {
    list-style: none;
    padding-left: 5px;
    font-size: 18px;
}

.skill-sub-list li {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    /* top,right,bottom,left */
    margin: 4px;
    height: 100%;
    /* border:1px solid black; */
    /* box-shadow: 0 16px 26px -10px rgb(212,237,218), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgb(212,237,218); */
}

.lang1 {
    background-color: #d4edda;
    border-color: #c3e6cb;
    /* box-shadow: 0 16px 26px -10px rgb(212,237,218), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgb(212,237,218); */
    
}

.lang2 {
    background-color: #d1ecf1;
    border-color: #bee5eb;  
    /* box-shadow: 0 16px 26px -10px rgb(209,236,241), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgb(209,236,241); */

}

.lang3 {
    background-color: #ffe7e0;
border-color: #f5c6cb;
/* box-shadow: 0 16px 26px -10px #f5c6cb, 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px #f5c6cb; */

}

.lang4 { 
    background-color: #d6d8d9;
border-color: #c6c8ca;
/* box-shadow: 0 16px 26px -10px rgb(214,216,217), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgb(214,216,217); */


}

.lib1 {
    background-color: #fff3cd;
    border-color: #ffeeba;  
    /* box-shadow: 0 16px 26px -10px rgb(255,243,205), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgb(255,243,205); */

}

.lib2 {
    background-color: #cce5ff;
    border-color: #b8daff;
/* box-shadow: 0 16px 26px -10px #b8daff, 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px #b8daff; */

}
/* img{ */
    /* box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); */
/* } */
.contact-list{
    list-style: none;
    padding-left: 5px;
    font-size: 18px;
}

.contact-list li{
    list-style: none;
    padding: 8px 5px 8px 5px;
    font-size: 18px;
}
/* .contact-list span {
    vertical-align:middle;
    font-size: 20px;
} */
.contact-list i {
    font-size: 25px;
    padding-right: 10px;
}
.project-list{
    padding-left: 25px;
    font-size: 18px;
}
.project-list li{
    padding: 8px 5px 8px 5px;
}